<body>
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">Product Details</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/products-list">Shop</a></li>
                                    <li class="active" aria-current="page">Product Details</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- Start Product Details Section -->
    <div class="product-details-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-details-gallery-area d-flex align-items-center flex-row-reverse">
                        <div class="product-large-image product-large-image-vertical ml-15">
                            <div class="product-image-large-single zoom-image-hover">
                                <img src="{{bookByID.img_1}}" alt="">
                            </div>
                            <div class="product-image-large-single zoom-image-hover">
                                <img src="{{bookByID.img_2}}" alt="">
                            </div>
                            <div class="product-image-large-single zoom-image-hover">
                                <img src="{{bookByID.img_3}}" alt="">
                            </div>
                            <div class="product-image-large-single zoom-image-hover">
                                <img src="{{bookByID.img_4}}" alt="">
                            </div>
                        </div>
                        <div class="product-image-thumb product-image-thumb-vertical pos-relative">
                            <div class="zoom-active product-image-thumb-single">
                                <img class="img-fluid" src="{{bookByID.img_1}}" alt="">
                            </div>
                            <div class="zoom-active product-image-thumb-single">
                                <img class="img-fluid" src="{{bookByID.img_2}}" alt="">
                            </div>
                            <div class="zoom-active product-image-thumb-single">
                                <img class="img-fluid" src="{{bookByID.img_3}}" alt="">
                            </div>
                            <div class="zoom-active product-image-thumb-single">
                                <img class="img-fluid" src="{{bookByID.img_4}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-details-content-area">
                        <!-- Start  Product Details Text Area-->
                        <div class="product-details-text">
                            <h4 class="title">{{bookByID.title}}</h4>
                            <div class="d-flex align-items-center">
                                <div class="product-review">
                                    <span>Rating: </span>
                                    <span class="review-fill"><i class="fa fa-star"></i></span>
                                    <span class="review-fill"><i class="fa fa-star"></i></span>
                                    <span class="review-fill"><i class="fa fa-star"></i></span>
                                    <span class="review-fill"><i class="fa fa-star"></i></span>
                                    <span class="review-empty"><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                            <div class="price"><del>{{bookByID.origin_price}}đ</del>${{bookByID.price}}đ</div>
                            <p>{{bookByID.description}}</p>
                        </div> <!-- End  Product Details Text Area-->
                        <!-- Start Product Variable Area -->
                        <div class="product-details-variable">
                            <h6 class="title">Available in stock:
                                <span class="text-danger">{{bookByID.quantity_in_stock}}</span>
                            </h6>
                            <!-- Product Variable Single Item -->
                            <div class="d-flex align-items-center">
                                <div class="variable-single-item ">
                                    <span>Quantity</span>
                                    <div class="product-variable-quantity">
                                        <input min="1" max="{{bookByID.quantity_in_stock}}" value="1" type="number">
                                    </div>
                                </div>

                                <div class="product-add-to-cart-btn">
                                    <a href="#" data-toggle="modal" data-target="#modalAddcart">Add To
                                        Cart</a>
                                </div>
                            </div>
                        </div> <!-- End Product Variable Area -->

                        <!-- Start  Product Details Social Area-->
                        <div class="product-details-social">
                            <ul>
                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i>Like</a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i>Tweet</a></li>
                                <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i>Save</a></li>
                                <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i>Save</a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i>Linked</a></li>
                            </ul>
                        </div> <!-- End  Product Details Social Area-->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Product Details Section -->

    <!-- Start Product Content Tab Section -->
    <div class="product-details-content-tab-section section-inner-bg section-top-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-details-content-tab-wrapper">

                        <!-- Start Product Details Tab Button -->
                        <ul class="nav tablist product-details-content-tab-btn d-flex justify-content-center">
                            <li><a class="nav-link active" data-toggle="tab" href="#description">
                                    <h5>Description</h5>
                                </a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#specification">
                                    <h5>Specification</h5>
                                </a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#review">
                                    <h5>Reviews (1)</h5>
                                </a></li>
                        </ul> <!-- End Product Details Tab Button -->

                        <!-- Start Product Details Tab Content -->
                        <div class="product-details-content-tab">
                            <div class="tab-content">
                                <!-- Start Product Details Tab Content Singel -->
                                <div class="tab-pane active show" id="description">
                                    <div class="single-tab-content-item">
                                        <p>{{bookByID.description}}</p>
                                    </div>
                                </div> <!-- End Product Details Tab Content Singel -->
                                <!-- Start Product Details Tab Content Singel -->
                                <div class="tab-pane" id="specification">
                                    <div class="single-tab-content-item">
                                        <table class="table table-bordered mb-20">
                                            <tbody>
                                                <tr>
                                                    <th class="col-2" scope="row">ISBN</th>
                                                    <td class="col-4">{{bookByID.ISBN}}</td>
                                                    <th class="col-2" scope="row">Author</th>
                                                    <td class="col-4">{{bookByID.authors}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Publisher</th>
                                                    <td>{{bookByID.publisher}}</td>
                                                    <th scope="row">Number of Pages</th>
                                                    <td>{{bookByID.number_of_pages}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Release year</th>
                                                    <td>{{bookByID.release_year}}</td>
                                                    <th scope="row">Language</th>
                                                    <td>{{bookByID.language}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> <!-- End Product Details Tab Content Singel -->
                                <!-- Start Product Details Tab Content Singel -->
                                <div class="tab-pane" id="review">
                                    <div class="single-tab-content-item">
                                        <!-- Start - Review Comment -->
                                        <ul class="comment">
                                            <!-- Start - Review Comment list-->
                                            <li class="comment-list">
                                                <div class="comment-wrapper">
                                                    <div class="comment-img">
                                                        <img src="/images/user/image-1.png" alt="">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-content-top">
                                                            <div class="comment-content-left">
                                                                <h6 class="comment-name">Kaedyn Fraser</h6>
                                                                <div class="product-review">
                                                                    <span class="review-fill"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="review-fill"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="review-fill"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="review-fill"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="review-empty"><i
                                                                            class="fa fa-star"></i></span>
                                                                </div>
                                                            </div>
                                                            <div class="comment-content-right">
                                                                <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                            </div>
                                                        </div>

                                                        <div class="para-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit.
                                                                Tempora inventore dolorem a unde modi iste
                                                                odio amet,
                                                                fugit fuga aliquam, voluptatem maiores animi
                                                                dolor nulla
                                                                magnam ea! Dignissimos aspernatur cumque nam
                                                                quod sint
                                                                provident modi alias culpa, inventore
                                                                deserunt
                                                                accusantium amet earum soluta consequatur
                                                                quasi eum eius
                                                                laboriosam, maiores praesentium explicabo
                                                                enim dolores
                                                                quaerat! Voluptas ad ullam quia odio sint
                                                                sunt. Ipsam
                                                                officia, saepe repellat. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li> <!-- End - Review Comment list-->
                                            <!-- Start - Review Comment list-->
                                            <li class="comment-list">
                                                <div class="comment-wrapper">
                                                    <div class="comment-img">
                                                        <img src="/images/user/image-3.png" alt="">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-content-top">
                                                            <div class="comment-content-left">
                                                                <h6 class="comment-name">Jaydin Jones</h6>
                                                                <div class="product-review">
                                                                    <span class="review-fill"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="review-fill"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="review-fill"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="review-fill"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="review-empty"><i
                                                                            class="fa fa-star"></i></span>
                                                                </div>
                                                            </div>
                                                            <div class="comment-content-right">
                                                                <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                            </div>
                                                        </div>

                                                        <div class="para-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit.
                                                                Tempora inventore dolorem a unde modi iste
                                                                odio amet,
                                                                fugit fuga aliquam, voluptatem maiores animi
                                                                dolor nulla
                                                                magnam ea! Dignissimos aspernatur cumque nam
                                                                quod sint
                                                                provident modi alias culpa, inventore
                                                                deserunt
                                                                accusantium amet earum soluta consequatur
                                                                quasi eum eius
                                                                laboriosam, maiores praesentium explicabo
                                                                enim dolores
                                                                quaerat! Voluptas ad ullam quia odio sint
                                                                sunt. Ipsam
                                                                officia, saepe repellat. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li> <!-- End - Review Comment list-->
                                        </ul> <!-- End - Review Comment -->
                                        <div class="review-form">
                                            <div class="review-form-text-top">
                                                <h5>ADD A REVIEW</h5>
                                                <p>Your email address will not be published. Required fields
                                                    are marked
                                                    *</p>
                                            </div>

                                            <form action="#" method="post">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="default-form-box mb-20">
                                                            <label for="comment-name">Your name
                                                                <span>*</span></label>
                                                            <input id="comment-name" type="text"
                                                                placeholder="Enter your name" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="default-form-box mb-20">
                                                            <label for="comment-email">Rating
                                                                <span>*</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="default-form-box mb-20">
                                                            <label for="comment-review-text">Your review
                                                                <span>*</span></label>
                                                            <textarea id="comment-review-text"
                                                                placeholder="Write a review" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="form-submit-btn" type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> <!-- End Product Details Tab Content Singel -->
                            </div>
                        </div> <!-- End Product Details Tab Content -->

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Product Content Tab Section -->

    <!-- ...:::: Start Product  Section:::... -->
    <div class="product-section section-top-gap-100">
        <!-- Start Section Content -->
        <div class="section-content-gap">
            <div class="container">
                <div class="row">
                    <div class="section-content">
                        <h3 class="section-title">Related Products</h3>
                    </div>
                </div>
            </div>
        </div> <!-- End Section Content -->

        <!-- Start Product Wrapper -->
        <div class="product-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product-default-slider product-default-slider-4grids-1row">
                            <!-- Start Product Defautlt Single -->
                            <div class="product-default-single border-around">
                                <div class="product-img-warp">
                                    <a href="/products-list/product-detail?ID=1" class="product-default-img-link">
                                        <img src="/images/products_images/01_A.jpg" alt=""
                                            class="product-default-img img-fluid">
                                    </a>
                                    <div class="product-action-icon-link">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                        class="icon-shopping-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-default-content">
                                    <h6 class="product-default-link"><a href="/products-list/product-detail">New Balance
                                            Fresh
                                            Foam Kaymin Car Purts</a></h6>
                                    <span class="product-default-price"><del
                                            class="product-default-price-off">$30.12</del> $25.12</span>
                                </div>
                            </div> <!-- End Product Defautlt Single -->
                            <!-- Start Product Defautlt Single -->
                            <div class="product-default-single border-around">
                                <div class="product-img-warp">
                                    <a href="/products-list/product-detail?ID=2" class="product-default-img-link">
                                        <img src="/images/products_images/02_A.jpg" alt=""
                                            class="product-default-img img-fluid">
                                    </a>
                                    <div class="product-action-icon-link">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                        class="icon-shopping-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-default-content">
                                    <h6 class="product-default-link"><a href="/products-list/product-detail">New Balance
                                            Fresh
                                            Foam Kaymin Car Purts</a></h6>
                                    <span class="product-default-price"><del
                                            class="product-default-price-off">$30.12</del> $25.12</span>
                                </div>
                            </div> <!-- End Product Defautlt Single -->
                            <!-- Start Product Defautlt Single -->
                            <div class="product-default-single border-around">
                                <div class="product-img-warp">
                                    <a href="/products-list/product-detail?ID=3" class="product-default-img-link">
                                        <img src="/images/products_images/03_A.jpg" alt=""
                                            class="product-default-img img-fluid">
                                    </a>
                                    <div class="product-action-icon-link">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                        class="icon-shopping-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-default-content">
                                    <h6 class="product-default-link"><a href="/products-list/product-detail">New Balance
                                            Fresh
                                            Foam Kaymin Car Purts</a></h6>
                                    <span class="product-default-price"><del
                                            class="product-default-price-off">$30.12</del> $25.12</span>
                                </div>
                            </div> <!-- End Product Defautlt Single -->
                            <!-- Start Product Defautlt Single -->
                            <div class="product-default-single border-around">
                                <div class="product-img-warp">
                                    <a href="/products-list/product-detail?ID=4" class="product-default-img-link">
                                        <img src="/images/products_images/04_A.jpg" alt=""
                                            class="product-default-img img-fluid">
                                    </a>
                                    <div class="product-action-icon-link">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                        class="icon-shopping-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-default-content">
                                    <h6 class="product-default-link"><a href="/products-list/product-detail">New Balance
                                            Fresh
                                            Foam Kaymin Car Purts</a></h6>
                                    <span class="product-default-price"><del
                                            class="product-default-price-off">$30.12</del> $25.12</span>
                                </div>
                            </div> <!-- End Product Defautlt Single -->
                            <!-- Start Product Defautlt Single -->
                            <div class="product-default-single border-around">
                                <div class="product-img-warp">
                                    <a href="/products-list/product-detail?ID=5" class="product-default-img-link">
                                        <img src="/images/products_images/05_A.jpg" alt=""
                                            class="product-default-img img-fluid">
                                    </a>
                                    <div class="product-action-icon-link">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                        class="icon-shopping-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-default-content">
                                    <h6 class="product-default-link"><a href="/products-list/product-detail">New Balance
                                            Fresh
                                            Foam Kaymin Car Purts</a></h6>
                                    <span class="product-default-price"><del
                                            class="product-default-price-off">$30.12</del> $25.12</span>
                                </div>
                            </div> <!-- End Product Defautlt Single -->
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Product Wrapper -->
    </div> <!-- ...:::: End Product Section:::... -->
</body>